<div class="register-container">
  <form
    class="col-sm-11 col-lg-5 col-xl-4 simple-form"
    [formGroup]="registerForm"
    (ngSubmit)="postRegister()"
  >
    <h2>Register</h2>

    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          formControlName="username"
          required
        />
        <mat-error
          *ngIf="
            registerForm.controls['username'].errors &&
            registerForm.controls['username'].errors.required
          "
        >
          Required
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
          required
        />
        <mat-error
          *ngIf="
            registerForm.controls['password'].errors &&
            registerForm.controls['password'].errors.required
          "
        >
          Required
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Confirm Password"
          type="password"
          formControlName="confirmPassword"
          required
        />
        <mat-error
          *ngIf="
            registerForm.controls['confirmPassword'].errors &&
            registerForm.controls['confirmPassword'].errors.required
          "
        >
          Required
        </mat-error>
        <mat-error
          *ngIf="
            registerForm.controls['confirmPassword'].errors &&
            registerForm.controls['confirmPassword'].errors.MatchPassword
          "
        >
          Passwords do not match
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="First Name"
          formControlName="firstName"
          required
        />
        <mat-error
          *ngIf="
            registerForm.controls['firstName'].errors &&
            registerForm.controls['firstName'].errors.required
          "
        >
          Required
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Last Name"
          formControlName="lastName"
          required
        />
        <mat-error
          *ngIf="
            registerForm.controls['lastName'].errors &&
            registerForm.controls['lastName'].errors.required
          "
        >
          Required
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Email Address"
          formControlName="emailAddress"
          required
        />
        <mat-error
          *ngIf="
            registerForm.controls['emailAddress'].errors &&
            registerForm.controls['emailAddress'].errors.required
          "
        >
          Required
        </mat-error>
        <mat-error
          *ngIf="
            registerForm.controls['emailAddress'].errors &&
            registerForm.controls['emailAddress'].errors.email
          "
        >
          Invalid email address
        </mat-error>
      </mat-form-field>
    </div>

    <button
      class="col-12"
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>

    <div *ngIf="registerForm.errors">
      <span *ngFor="let error of registerForm.errors">{{ error }}</span>
    </div>
  </form>
</div>
