/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "./form";

body {
  transition: background-color 0.8s;

  &.bg-blue {
    background-color: #004e97;
  }

  &.bg-purple {
    background-color: #6154ce;
  }
}

.layout-container router-outlet ~ * {
  position: absolute;
  width: 100%;
}
